$light-gray: #f1f3f4;
$dark-gray: #3f4150;
$black: #333;

.toolbar {
    background-color: $light-gray;

    .menu {
        margin-top: -0.5rem;
        background-color: $dark-gray;

        mat-icon {
            color: $light-gray;
        }
    }

    .logo {
        max-width: 12rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: auto;

        @media (max-width: 425px) {
            max-width: 8rem;
        }
    }

    .title {
        color: $black;
        font-size: 1.8rem;
        font-weight: 700;

        @media (max-width: 425px) {
            font-size: 1.5rem;
        }
    }
}

.content-container {
    background-color: $light-gray;
    min-height: 91vh;

    .sidebar {
        background-color: $light-gray;
        height: 100%;
        width: 65%;

        @media (min-width: 768px) {
            width: 30%;
        }

        @media (min-width: 1025px) {
            width: 15%;
        }
    }
}