<mat-toolbar class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()" class="menu"
    aria-label="Menu Button">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo" [src]="urlLogo" alt="Logo Max Web" />
  <span class="title">{{title}}</span>
</mat-toolbar>

<mat-drawer-container class="content-container">
  <mat-drawer class="sidebar" mode="side" [opened]="sidebarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>